@font-face {
    font-family: "Berling";
    src: url("./fonts/BerlingskeSerif-Regular.ttf");
}
@font-face {
    font-family: "SFPro";
    src: url("./fonts/SFProDisplay-Regular.ttf");
}
body {
    font-family: "SFPro", sans-serif;
}

/* COMMON */
.absolute-top {
    position: absolute;
    top: 0;
}
.lighthouse-wrapper {
    height: 40px;
    line-height: 40px;
}
.lighthouse__phone {
    display: none;
    color: #fff;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
}
.lighthouse__lang {
    display: none;
}
.lighthouse__content {
    margin: 0;
    color: #fff;
    text-align: center;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 2.4px;
    text-transform: uppercase;
}
/* =================== MENU ==================  */
.main-menu {
    .nav-link {
        color: #fff;
    }
}
/* =================== BANNER ==================  */
.banner {
    position: relative;

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%),
        url(<path-to-image>), lightgray 0px -216.614px / 100% 134.138% no-repeat;
}
.banner img {
    object-position: center;
}
.banner:before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        171deg,
        rgba(0, 0, 0, 0.24) 6.8%,
        rgba(105, 105, 105, 0.12) 58.55%,
        rgba(217, 217, 217, 0) 93.04%
    );
}

.banner-content {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}
.banner__title {
    font-family: "Berling";
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;

    background: linear-gradient(180deg, #fff 0%, rgba(245, 245, 245, 0) 131.46%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner__link {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.7px;
}
/* SECTION */
.section-heading {
    font-family: "Playfair";
    text-align: center;
    padding: 15px 0;
}
.section-heading__submain {
    font-size: 36px;
    color: #ba9b63;
    letter-spacing: 1px;
    font-weight: 600;
}
.section-heading__main {
    font-size: 36px;
    color: #1f1f1f;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 1px;
}
/* FEATURE CATEGORY */

/* TAB Không gian nội thất */
.room-space {
    margin-top: 67px;
}
.room-space-heading {
    margin-bottom: 10px;
}
.room-space-heading__title {
    margin-bottom: 15px;
}
.room-space-tabs__item {
    margin: 0 19px;
}
.room-space-tabs__link {
    font-family: "SFPro";
    font-size: 20px;
    font-weight: 600;
    color: #1f1f1f;
    cursor: pointer;
    text-transform: uppercase;
    padding: 19px 5px;
}
.room-space-tabs__link:hover {
    color: #ba9b63;
}

.room-space-tabs__link.active {
    color: #ba9b63;
    border-bottom: 3px solid #ba9b63;
}
.room-space-slide .swiper-slide {
    width: 80%;
}

.room-space-slide-2 {
    background: #ba9b63;
}
.room-space-slide-2__item {
}
.room-space-slide-2__item .inner {
    padding-top: 90px;
    max-width: 430px;
    margin: auto;
}
.room-space-slide-2__item ul {
    margin: 0;
    padding: 0;
    list-style-position: inside;
    column-count: 2;
}
.room-space-slide-2__item h2 {
    font-family: "Berling", sans-serif;
    font-size: 36px;
    color: #1f1f1f;
    font-style: italic;
    text-align: center;
}
.room-space-slide-2__item h2 span {
    color: #fff;
}
.room-space-slide-2__item h3 {
    font-family: "Berling", sans-serif;
    font-size: 28px;
    color: #1f1f1f;
    font-style: italic;
    text-align: center;
}
@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
    .lighthouse {
        padding: 0 40px;
    }
    .lighthouse__phone {
        display: block;
    }
    .lighthouse__lang {
        display: block;
    }
    .lighthouse__content {
        font-size: 12px;
    }
    .lighthouse-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .main-menu {
        position: absolute;
        top: 50px;
        z-index: 9;
        width: 100%;
        padding-top: 13px;
        padding-bottom: 13px;
    }
}
@media (min-width: 1200px) {
    .banner {
        height: 940px;
    }
    .banner img {
        height: 940px;
    }
    .banner__title {
        font-size: 128px;
        line-height: 114px;
        letter-spacing: -7px;
    }
}
@media (min-width: 1400px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1440px;
    }
}
